services:
  xray:
    image: ghcr.io/xtls/xray-core:latest
    container_name: xray-vless
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./config:/etc/xray:ro
    environment:
      - TZ=Europe/Paris
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
    command: ["run", "-c", "/etc/xray/config.json"]

